<div class="form-container">
    <a routerLink="/menu" id="goback">Go back</a>
    <h3> Transfer</h3>
    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

    <form #formData='ngForm' >

     <input type="date" placeholder="Enter the date.." [(ngModel)]="date" name="date" class="txt" required>
        <select  #selectedAccounts>
        <option  value="0">--TO--</option>
          <option *ngFor="let account of accountList"  [value]="account.id">
                            {{account.name}}
           </option>
              </select>
             
              <select #selectedAccount>
                   <option value="0">--FROM--</option>
                  <option *ngFor="let account of accountList" [value]="account.id">
                          {{account.name}}
                        </option>
                      </select>
          <input type="text" placeholder="Reason" [(ngModel)]="details" name="reason" class="txt" required>
        <input type="number" placeholder="Amount" [(ngModel)]="amount" name="amount" class="number" required> 
      <button type="submit" [disabled]="!formData.valid"(click)="transfer(date,selectedAccounts.value,selectedAccount.value,details,amount)" class="basic-btn">Transfer Amount</button>
  </form>
</div>