<a routerLink="/menu" id="goback">Go back</a>

<h3>
     USER-GUIDE MANUAL
</h3>
    

<p align="center">------------ START-----------</p> <br> <br> <p align="center"> Open up checkbook and click on menu.</p><br>


<p align="center">------------- MENU -------------</p>
<br><br>
<p align="center"> When you touch menu you will be taken to the menu of simple checbook.</p><br><br>
<p align="center"> -------- CREATE ACCOUNT----------</p><br>
<br><p> If this is the first time you are using simple checkbook you will need to create new account(s).Touch create new account(s).  
 This will take you to the new account set up form.</p>
<p> The new account set up form will appear on your screen.</p>
           <p> On the new account set up form, when you touch, under the heading" name of account" a keyboard will show on your screen. type in the name of the account you want to set up and touch next/enter.</p>
<p> If this is an account you want to have a budget, type in the amount, under the heading" budgeted amount for each pay period" and touch next/enter.</p>
  <p> If this is a non-budgeted account, leave this area blank and touch next/enter do not type in a zero.</p>
  <p>  If this new account has an opening balance, type in the amount under the heading "opening balance" and touch next/enter.   If there is no opening balance, type in zero (0) and touch next/enter.
  </p>
 <p> To enter another new account touch yes and you will return to the new account set up form
 to enter another new account touch yes and you will return to the new account set up form
 if you are through with entering new accounts touch no. this will take you back to the menu.</p>
<br><br>
  <p align="center">------------DELETE ACCOUNT----------</p><br><br>
  <p>To delete an account touch "delete an account " on the menu.</p>
<p> The delete account menu will appear with the name of account box highlighted.</p>
<p> Type in the name of the account you want to delete and touch no or yes if this account still has a balance.</p>
<p> If the account you wish to delete does not have a balance touch no and the account will be deleted and you will be returned to the menu.</p>
<p> If the account you wish to delete still has a balance touch yes and you will be taken to the the "transfer form" where you can transfer what is still left in the account to another account. </p>
<p> Once the transfer is complete you will be returned
   to the menu where you can touch "delete an account" and start again</p>
<br><br>
<p align="center">------------ MAKE A DEPOSIT OR WITHDRAWL-------------</p>
<br><br>
<p> To make a deposit or withdrawal to a specific account touch "make a deposit or withdrawal" on the menu.</p>
<p> This will bring you to the journal where you will enter the date and details. touch next/enter to move to the next box: withdrawal.</p>
<p> If the entry is a withdrawal, type in the amount and touch next/enter. If the entry is not a withdrawal do not enter anything and touch next/enter.</p>
<p> If the entry is a deposit, type in the amount and touch next/enter. If the entry is not a deposit touch next/enter and you will be moved to the next information box: details.</p>
 <p> Type in the details and touch next/enter to move to the next information box: account name.</p>
    <p> Type in the account name and touch next/enter. This will up date the account and summary and return you to the menu.</p>
<br><br>

<p align="center">------------ MAKE  A BUDGET DEPOSIT----------</p>
<br><br>
<p> To make a pay period deposit touch "make a budget deposit" on the menu</p>
<p> This will take you to the budget deposit form where you will type in the date, details of the deposit and the deposit amount then touch next/enter.</p>
<p> This deposit amount will be divided into the budgeted amounts you already specified when you set up the budget and placed in these same accounts.</p>
<p> The difference between the deposit amount and the total budget amount will be deposited to the surplus account.</p>
<p> The difference between the deposit amount and budget amount can be positive (+) or negative (-) depending if the budget you set is above or below your pay period cheque.</p>
<p> If the deposit amount in the surplus account is negative you need to reset your budgeted amounts. To do this select go to from the menu and touch budget ,then touch the amount and change it. repeat if necessary.</p>
<p> After you touch next/enter you will be taken back to the menu</p>
  <p> If you wish to see the results of this deposit touch files and select the item you wish to review.</p>
    <br><br>
     <p align="center">------------- MAKE A TRANSFER------------</p><br><br>
     <p>To make a transfer of money from one account to another touch "make a transfer" on the menu.</p>
<p> This will take you to the transfer form where you will enter the information needed.</p>
<p> Touch next/enter after each entry. This will complete the transfer and reutrn you to the menu.</p>
<p> To see the transfer select "go to" from the menu and select the appropiate account name and touch next/enter.</p>
<br><br>
<p align="center"> --------------FILES-----------------</p>
<br><br>
<p> To see the budget, summary, journal, bank statement amount or an account, select "files" from the tabs.</p>
<p> If you want to see an account, highlight account and type in the name of the account and touch next/enter.</p>
<p> This will take you to the account you typed in.</p>
<p> To return to the menu touch the back key on your device.</p>
<br><br>
<p align="center">------------USER GUIDE--------------</p>
<br><br>
<p> To see the user guide touch "user guide" on the menu.</p>
<p> To return to the menu touch the back key on your device.</p>

<p align="center">----------- END-------------</p>


     




