<div class="form-container"> 
    <a routerLink="/menu" id="goback">Go back</a>
    <h4> Journal</h4>
    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

    <form #formData='ngForm'>
              <select  #selectedAccount >
            <option value="0">--Account--</option>
              <option *ngFor="let account of accountList" [value]="account.id">
      {{account.name}}
            </option>
            </select>

     <input type="date" placeholder="Enter the date.." [(ngModel)]="date" name="date" class="txt" required>
      <input type="text" placeholder="Num" [(ngModel)]="num" name="num" class="txt">
       <input type="text" placeholder="Details" [(ngModel)]="details" name="details" class="txt" required>
        <input type="number" placeholder="Withdrawal" [(ngModel)]="withdrawal" name="withdrawal" class="txt" required>
         <input type="number" placeholder="Deposit" [(ngModel)]="deposit" name="deposit" class="txt" required>  
       
      <button type="submit"  (click)="getjournal(selectedAccount.value,date,num,details,withdrawal,deposit)" class="basic-btn">Create Journal</button>
     
  </form>
</div>
