<div class="form-container">
    <a routerLink="/menu" id="goback">Go back</a>
    <h3> Create new Account</h3>
    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
    <form #formData='ngForm'>


      <input type="text" placeholder="Name of Account.." [(ngModel)]="accountname" name="name" class="txt" required>
      <input type="number" placeholder="Pay Budget Period" [(ngModel)]="paybudgetperiod" name="paybudgetperiod" class="txt" >
       <input type="number" placeholder="Opening Balance" [(ngModel)]="openingbalance" name="openingbalance" class="txt" >

      <button type="submit" (click)="createaccount(accountname,openingbalance,paybudgetperiod)" [disabled]="!formData.valid" class="basic-btn">Create Account</button>
 
  </form>
  
  	

