
<a routerLink="/login" id="goback">Go back</a>
<h3 align="center">View Your Accounts  Created</h3>

   <ul *ngFor="let account of accountList">
    <li>
     {{account.name}}
    </li>
  </ul>
  

  
       



