

    <div class="form-container">
    <a routerLink="/menu" id="goback">Go back</a>
    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
    <h3>  Delete Your Account </h3> 
    <form #formData='ngForm'>
    <ul *ngFor="let account of accountList">
    <li>
       <button type="submit"  (click)="del(account.id)"  class="basic-btn">Del</button>
                                  {{account.name}}
    </li>
  </ul>
    
   
  </form>
    </div>