#toolbar {
    padding:0;
    width:90%;
    margin-left:-35%;
}

header {
    background:orchid;
    width:100%;
}

.basic-btn {
    width:130px;
    margin:0;
}

#page {
    padding:2em;
    margin:0;
    scroll-behavior:smooth;
    
}

#page img {
    margin-top:2px;
}

h2 {
    margin:0;

}
 table {
align-content: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}
td, th {
    border: 1px solid #000000;
    text-align: center;
    padding: 3px;
}
	.header{
		padding-top: 20px;
		font-size: 1.2em;
		color:black;
 
	}
        .row-header{
        font-weight: bold;
    }
tr:nth-child(odd) { 
    background-color:lightcyan;
height:1px;
}